<%- include('layouts/header') %>    
<%- include('layouts/navbar') %>

<main>
  <div class="container main-content">
    <div class="card">
      <div class="card-body">
        <form id="publishForm">
          <div class="card-input mb-5">
            <label class="input-group pb-2 d-inline-block">
              <span><i class="fa-solid fa-circle-info me-1"></i>Topic :</span>
            </label>
            <input class="form-control py-4" type="text" id="topic" placeholder="Topic">
          </div>
          <div class="card-input mb-3">
            <label class="input-group pb-2 d-inline-block">
              <span><i class="fa-solid fa-comments me-1"></i>Data :</span>
            </label>
            <input class="form-control py-4" type="text" id="message" placeholder="Message">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-outline-light btn-md text-right publish-btn">
              <span><i class="fa-solid fa-paper-plane me-1"></i>Publish</span>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-result">
          <label class="d-inline-block pb-2">
            <span><i class="fa-solid fa-lightbulb me-1"></i>Result :</span>
          </label>
          <p class="form-control dataResult" id="data"></p>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('layouts/footer'); %>