        <footer class="mt-auto">
            <div class="container py-3">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                    <div class="sosmed user-select-none order-1 order-md-2 mb-2 mb-md-0 text-center text-md-end">
                        <a class="sosmed-icons" href="https://github.com/cakraawijaya" target="_blank"><i class="fa-brands fa-square-github"></i></a>
                        <a class="sosmed-icons ms-3" href="https://www.instagram.com/cakraa.wijaya/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                        <a class="sosmed-icons ms-3" href="https://www.linkedin.com/in/cakraawijaya/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                    <div class="info order-2 order-md-1 text-center text-md-start">
                        <span class="copyright user-select-none">
                            &copy; <script>document.write(`2024 – ${new Date().getFullYear()}`)</script>
                            <strong><%= projectName %></strong>. All Rights Reserved
                        </span>
                    </div>
                </div>
            </div>

            <script src="/assets/js/script.js"></script>
            <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        </footer>
    </body>
</html>