<%- include('layouts/header', { title: 'Dashboard' }) %>    
    
<%- include('layouts/navbar'); %>

<div class="container mt-4 p-4"> <%- include('dashboard'); %> </div>

<%- include('layouts/footer'); %>
    