<div class="row">
    <div class="col-sm-6 mt-5">
      <div class="card">
        <div class="card-body">
            <form id="publishForm">
                <div class="input-group mb-3">
                    <label class="input-group py-2 d-inline-block"><strong><i class="fa-solid fa-circle-info me-1"></i>Topic :</strong></label>
                    <input class="form-control pb-4" type="text" id="topic" placeholder="Topic">
                </div>
                
                <div class="input-group mb-3">
                    <label class="input-group py-2 d-inline-block"><strong><i class="fa-solid fa-comments me-1"></i>Data :</strong></label>
                    <input class="form-control pb-4" type="text" id="message" placeholder="Message">
                </div>
                
                <div class="d-grid justify-content-md-end">
                    <button type="submit" class="btn btn-outline-dark btn-md text-right"><strong><i class="fa-solid fa-paper-plane me-2"></i>Publish</strong></button>
                </div>
            </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-5">
      <div class="card">
        <div class="card-body">
            <div class="input-group mb-3">
                <label class="input-group py-2 d-inline-block"><strong><i class="fa-solid fa-lightbulb me-1"></i>Result :</strong></label>
                <p class="form-control pb-4 dataResult" id="data"></p>
            </div>
        </div>
      </div>
    </div>
  </div>    
</div>