    <hr class="mt-4"><footer class="footer-bg d-flex flex-wrap justify-content-between align-items-center p-3">
        <div class="col-md-5 d-flex align-items-center">
            <div class="text-muted">
                <strong class="footer-website">© 2024 Tugas Workshop Kelas IoT | All Rights Reserved</strong>
            </div>
        </div>

        <ul class="col-md-5 justify-content-end list-unstyled d-flex">
            <li><a type="submit" href="https://github.com/cakraawijaya" target="_blank" class="text-muted">
                    <i class="fa-brands fa-square-github"></i>
                </a></li>
            <li class="ms-3"><a type="submit" href="https://www.instagram.com/cakraa.wijaya/" target="_blank" class="text-muted">
                    <i class="fa-brands fa-square-instagram"></i>
                </a></li>
            <li class="ms-3"><a type="submit" href="https://www.linkedin.com/in/cakraawijaya/" target="_blank" class="text-muted">
                    <i class="fa-brands fa-linkedin"></i>
                </a></li>
        </ul>
    </footer>
    </body>
    
    <script src="/assets/js/script.js"></script>
</html>